// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

@import '_common/normalize';

$global-headings: (
  h1: 26px,
  h2: 23px,
  h3: 20px,
  h4: 16px,
  h5: 14px,
  h6: 14px
);

// Font family of the site.
$global-font-family:
  jinkaiFont, 'Noto Serif SC', 'Noto Sans SC', Serif, 'Source Sans Pro', 'Helvetica Neue', Arial;

// Serif font family of the site.
$global-serif-font-family:
  jinkaiFont, 'Noto serif SC', Serif, Microsoft Yahei, serif, Athelas, STHeiti;

$menu-font-family: 'Noto Serif SC', serif;
// $menu-font-weight: 400;
// $menu-link-font-size: 16px;

$post-title-font-family: 'Noto Serif SC', serif;
$post-title-font-weight: 400;

$post-head-font-family: chancery, 'Noto Serif SC', serif;
$post-head-font-weight: 400;

$post-content-font-family: 'Noto Serif SC', serif;
$post-content-font-weight: 400;
$post-content-font-color: #000;

$global-body-width: 850px;

.post-content h1{
    border-bottom: 1.6px solid #eee;
}
.post-content h2{
    border-bottom: 1.6px dashed #eee;
}
.post-content h3{
    border-bottom: 1.4px dotted #eee;
}
.post-content h4{
    border-bottom: 1.0px dotted #eee;
}
.post-content h5{
    border-bottom: 0.8px dotted #eee;
}
.post-content h6{
    border-bottom: 0.5px dotted #eee;
}

$global-font-color: #111;

$post-meta-font-color: #666;

li p {
    margin-top: 0;
    margin-bottom: 0;
}

// .daily-page-header {
//     padding-bottom: .5em;
//     border-bottom: 1px solid #e6e6e6
// }

.daily-page {
    margin-top: .5em;
}

.daily-page ul {
    // list-style-type: disc;
    padding-left: 22px;
}

ul ul {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
}

ul ul ul {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
}

ul ul ul {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
}

// 进度条
.gk-process {
    width: 95%;
    background-color: #ddd;
    display: inline-block;
}
.gk-processbar {
    height: 6px;
    background-color: #2196F3;
}
.gk-percentage {
    text-align: right;
    padding-right: 20px;
    line-height: 10px;
    color: white;
}
